<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AMS{% endblock %}</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- Base CSS -->
  <link rel="stylesheet" href="{% static 'teacher/base.css' %}">
  <link rel="stylesheet" href="{% static 'teacher/nav.css' %}">

  {% block links %}

  {% endblock %}

</head>

<body>
  {% include 'core/nav.html' %}

  <main class="main-content">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{ message.tags }}">
        {{ message }}
        <button class="close-message">
          <i class='bx bx-x'></i>
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  <!-- Base Scripts -->
  <script src="{% static 'teacher/base.js' %}"></script>
  {% block scripts %}{% endblock %}

  <!-- Add this before closing body tag -->
  <script src="{% static 'teacher/nav.js' %}"></script>
</body>

</html>