<!-- Load static files (will be used to load static images, CSS, JS) -->

{% load static %}
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <img src="{% static 'images/Bg.jpg' %}" alt="Logo" class="logo-image">
      <div class="brand-text">
        <span>B</span>
        <span>i</span>
        <span>r</span>
        <span>m</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
        <span>h</span>
        <span>a</span>
        <span>m</span>
        <span>&nbsp;</span>
        <span>C</span>
        <span>i</span>
        <span>t</span>
        <span>y</span>
        <span>&nbsp;</span>
        <span>U</span>
        <span>n</span>
        <span>i</span>
      </div>
    </div>

    <div class="nav-links">
      <a href="{% url 'course-list' %}"
        class="nav-link {% if request.resolver_match.url_name == 'course-list' %}active{% endif %}">
        <i class='bx bx-home'></i>
        <span>Dashboard</span>
      </a>

      <a href="{% url 'profile' %}" class="nav-link">
        <i class='bx bx-user'></i>
        <span>Profile</span>
      </a>

      <a href="{% url 'logout' %}" class="nav-link logout">
        <i class='bx bx-log-out'></i>
        <span>Logout</span>
      </a>
    </div>

    <button class="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>